<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TDL Touch UI</title>
    <link href="../lib/kendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.flat.mobile.min.css" rel="stylesheet">
    <link href="../resources/styles/default.css" rel="stylesheet">
    <script src="../lib/kendoUI/js/jquery.min.js"></script>
    <script src="../lib/kendoUI/js/kendo.all.min.js"></script>
    <script src="../js/jquery.runner.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script type="text/javascript" src="../js/earth_async.js"> </script>

</head>
<body>
<div data-role="view" id="welcomeView"  data-stretch="true" data-persist="true" data-transition="overlay:down">

    <div id="welcomeContent">
        <p><img src="../resources/images/logo2.png" width="100" height="125"/></p>
        <div id="header">

            <p>DTI-TDL</p>
        </div>
        <div id="content">
            <a id="settingBtn" class="boxbutton" href="#main_setting_form" data-role="button" data-transition="overlay:up">
                <img src="../resources/images/setting2.png" width="64" height="64"/>
                SETTINGS
            </a>
            &NonBreakingSpace;

            <a id="connectBtn" class="boxbutton" href="#">
                <img src="../resources/images/connect2.png" width="64" height="64"/>
                CONNECT
            </a>








        </div>
        <div id="footer">

        </div>

    </div>


</div>

<div data-role="view" id="main_setting_form" data-init="initMainSettingForm" data-title="Settings" data-transition="overlay:up" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a id="main-setting-back-button" class="nav-button" data-align="left" href="#welcomeView" data-role="button">Back</a>
            <span data-role="view-title"></span>
            <div data-align="right">

                <a id="main-setting-new-button" class="nav-button" href="#add_profile_form"  data-role="button" data-transition="slide:left">New</a>
                <a id="main-setting-save-button" class="nav-button"  data-role="button">Save</a>
                <a class="delete-button" id="main-setting-delete-button"  data-role="button">Delete</a>
            </div>

        </div>
    </header>



        <ul data-role="listview" data-style="inset" data-type="group">
            <li>Profile
                <ul>
                    <li>
                        <label>Select profile
                            <select id="comm_profile" onChange="changeProfile()">

                            </select>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>

        <ul data-role="listview" data-style="inset" data-type="group">
            <li>Settings
                <ul>
                    <li><a href="#serial-setting-view" data-transition="slide:left">Serial port setting</a></li>
                    <li><a href="#gps-setting-view" data-transition="slide:left">GPS setting</a></li>
                    <li><a href="#radio-setting-view" data-transition="slide:left">Radio setting</a></li>
                </ul>
            </li>
        </ul>

        <div data-role="footer" style="background: none; padding: 5px; text-align: center;">

        </div>

</div>

<div data-role="view" id="add_profile_form" data-init="initAddProfileForm" data-title="Add New Profile" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a id="addprofile-back-button" class="nav-button" data-align="left" href="#main_setting_form" data-role="button" data-transition="slide:right">Back</a>
            <span data-role="view-title"></span>
            <div data-align="right">

                <a id="addprofile-save-button" class="nav-button"  data-role="button">Save</a>

            </div>

        </div>
    </header>



    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Profile
            <ul>
                <li>
                    <label>Profile name
                        <input type="text" id="new_profile_name" />
                    </label>
                </li>
            </ul>
        </li>
    </ul>





</div>

<div data-role="view" id="serial-setting-view" data-title="Serial Port Setting" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a id="serial-setting-back-button" class="nav-button" data-align="left" href="#main_setting_form" data-role="button" data-transition="slide:right">Back</a>
            <span data-role="view-title"></span>
            <a id="serial-setting-save-button" class="nav-button" data-align="right" data-role="button">Save</a>
        </div>
    </header>

        <ul id="serial_setting_list_form" data-role="listview" data-style="inset">

            <li>
                <label>Communication Port
                    <select id="comm_port">
                        <option value="COM1">COM1</option>
                        <option value="COM2">COM2</option>
                        <option value="COM3">COM3</option>
                        <option value="COM4">COM4</option>
                        <option value="COM5">COM5</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Bit Rate
                    <select id="bit_rates">
                        <option value="115200">115200</option>
                        <option value="57600">57600</option>
                        <option value="38400">38400</option>
                        <option value="19200">19200</option>
                        <option value="9600">9600</option>
                        <option value="4800">4800</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Data Bits
                    <select id="databits">
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Stop Bits
                    <select id="stopbits">
                        <option value="2">2</option>
                        <option value="1.5">1.5</option>
                        <option value="1" selected>1</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Parity Bits
                    <select id="parity">
                        <option value="Space">Space</option>
                        <option value="Mark">Mark</option>
                        <option value="Odd">Odd</option>
                        <option value="Even">Even</option>
                        <option value="None" selected>None</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Flow Control
                    <select id="flowcontrol">
                        <option value="Hardware">Hardware</option>
                        <option value="XonXoff">Xon/Xoff</option>
                        <option value="None" selected>None</option>
                    </select>
                </label>
            </li>

        </ul>


</div>

<div data-role="view" id="gps-setting-view" data-title="GPS Setting" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a id="gps-setting-back-button" class="nav-button" data-align="left" href="#main_setting_form" data-role="button" data-transition="slide:right">Back</a>
            <span data-role="view-title"></span>
            <a id="gps-setting-save-button" class="nav-button" data-align="right" data-role="button">Save</a>
        </div>
    </header>

    <ul id="gps_setting_list_form" data-role="listview" data-style="inset">

        <li>
            <label>GPS Mode
                <select id="gps_mode">
                    <option value="1">Transponder</option>
                    <option value="2">PC/Base Station</option>
                    <option value="3">Marine Radar</option>
                    <option value="4">GPS Display</option>
                    <option value="12" selected>TDMA Data</option>
                </select>
            </label>
        </li>
        <li>
            <label>GPS positioning
                <input data-role="switch" id="gps_position" checked="checked" />
            </label>
        </li>
        <li>
            <label>Position update rate (s)
                <input id="pos_update_rate" type="range" max="99" min="1" value="2" />
            </label>
        </li>
        <li>
            <label>Position report rate (s)
                <input id="pos_tx_rate" type="range" max="99" min="1" value="5" />
            </label>
        </li>


    </ul>


</div>
<div data-role="view" id="radio-setting-view" data-title="GPS Setting" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a id="radio-setting-back-button" class="nav-button" data-align="left" href="#main_setting_form" data-role="button" data-transition="slide:right">Back</a>
            <span data-role="view-title"></span>
            <a id="radio-setting-save-button" class="nav-button" data-align="right" data-role="button">Save</a>
        </div>
    </header>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            OTA Baud Rate
            <ul>
                <li>
                    <label>
                        <input name="ota_baud" type="radio" value="4" />
                        4800
                    </label>
                </li>
                <li>
                    <label>
                        <input name="ota_baud" type="radio" value="5" checked="checked" />
                        9600
                    </label>
                </li>
                <li>
                    <label>
                        <input name="ota_baud" type="radio" value="6" />
                        19200
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <ul data-role="listview" data-style="inset">


        <li>
            <label>Slot time (ms)
                <input id="slot_time" type="number" value="100" />
            </label>
        </li>
        <li>
            <label>TDMA frame time (s)
                <input id="frame_time" type="number" value="1" />
            </label>
        </li>
        <li>
            <label>Frequency (MHz)
                <input id="frequency" type="number" value="145.25" />
            </label>
        </li>
        <li>
            <label>Power output
                <input id="pwr_output" type="range" max="100" min="0" value="60" />
            </label>
        </li>


    </ul>


</div>

<div data-role="modalview" id="modalview-database-error" style="width: 220px;">
    <div data-role="header">
        <div data-role="navbar">
            <span class="modal-header">Database error</span>
        </div>
    </div>

    <div class="modal-content" data-role="contentview" style="padding: 5px;">

        <p id="db-error"></p>
    </div>

    <div data-role="footer" style="background: none; padding: 5px;">
        <a class="modal-button" data-click="closeModalViewDBErrAndRetry" id="modalview-db-retry-button" type="button" data-role="button">Retry</a>
        <a class="modal-button" data-click="closeModalViewDBErrAndExit" id="modalview-db-exit-button" type="button" data-role="button">Close</a>
    </div>

</div>

<div data-role="modalview" id="modalview-connection-error" style="width: 220px;">
    <div data-role="header">
        <div data-role="navbar">
            <span class="modal-header">Connection error</span>
        </div>
    </div>

    <div class="modal-content" data-role="contentview" style="padding: 5px;">
        Can not connect to TDL Server

    </div>

    <div data-role="footer" style="background: none; padding: 5px;">
        <a class="modal-button" data-click="closeModalViewConnErrAndRetry" id="modalview-conn-retry-button" type="button" data-role="button">Retry</a>
        <a class="modal-button" data-click="closeModalViewConnErrAndExit" id="modalview-conn-exit-button" type="button" data-role="button">Exit</a>
    </div>

</div>
<div data-role="modalview" id="modalview-form-error" style="width: 220px;">
    <div data-role="header">
        <div data-role="navbar">
            <span class="modal-header">Form error</span>
        </div>
    </div>

    <div class="modal-content" data-role="contentview" style="padding: 5px;">
        <p id="form-error"></p>

    </div>

    <div data-role="footer" style="background: none; padding: 5px;">
        <a class="modal-button" data-click="closeModalViewFormErr" id="modalview-form-exit-button" type="button" data-role="button">OK</a>
    </div>

</div>

<div data-role="layout" id="app-main-tabstrip" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <a id="left-drawer-button" class="nav-button" data-align="left" href="#left-drawer" data-rel="drawer" data-role="button" data-icon="mydrawer"></a>
            <span data-role="view-title"></span>
            <a id="right-drawer-button" class="nav-button" data-align="right" href="#right-drawer" data-rel="drawer" data-role="button" data-icon="myinfo"></a>
        </div>
    </header>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-tacmap" data-icon="contacts">Map
            </a><a href="#tabstrip-tacmsg" data-icon="history">Messages
        </a><a href="#tabstrip-tacnews" data-icon="favorites">News
        </a><a href="#tabstrip-members" data-icon="favorites">Members
        </a>
        </div>
    </div>
</div>

<div data-role="view" id="tabstrip-tacmap" data-title="Tactical Map" data-layout="mobile-tabstrip">
    <div id="map_holder"></div>
</div>
<div data-role="view" id="tabstrip-tacmsg" data-title="Tactical Messages" data-layout="mobile-tabstrip">

</div>
<div data-role="view" id="tabstrip-tacnews" data-title="Tactical News" data-layout="mobile-tabstrip">

</div>
<div data-role="view" id="tabstrip-members" data-title="Members" data-layout="mobile-tabstrip">

</div>

<div data-role="drawer" id="left-drawer" data-title="Config" data-swipe-to-open="false" data-position="left">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview">
        <li data-icon="camera">Nature Photography</li>
        <li data-icon="camera">Wildlife Photography</li>
        <li data-icon="camera">Night Photography</li>
        <li data-icon="camera">Fine Art Photography</li>
        <li data-icon="camera">Portrait Photography</li>
        <li data-icon="printer">3D Printing</li>
        <li data-icon="comments">CSS3 Community</li>
        <li data-icon="comments">HTML5 Community</li>
        <li data-icon="comments">Java User Groups</li>
        <li data-icon="comments">Graphic Design</li>
        <li data-icon="comments">Bodybuilding</li>
        <li data-icon="comments">JavaScript</li>
        <li data-icon="comments">C#</li>
        <li data-icon="graph">DataViz</li>
    </ul>
</div>
<div data-role="drawer" id="right-drawer" data-title="Info" data-swipe-to-open="false" data-position="right">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>

        </div>
    </header>

            <div data-align="left">
                <p style="margin-bottom: 0px; font-size: smaller;">Connected as:</p>
                <p id="connected_profile" style="margin-top: 0px;">Default</p>
            </div>
            <div data-align="right">
                <p style="margin-bottom: 0px; font-size: smaller;">Connected time:</p>
                <p id="connected_time" style="margin-top: 0px;">Default</p>
            </div>

</div>


<div class="k-loading-mask" style="width:100%;height:100%;background-color: rgba(255,255,255,0.8);">
    <span class="k-loading-text">Loading...</span>
    <div class="k-loading-image">
        <div class="k-loading-color"></div>
    </div>
</div>
<script>
var gui = require('nw.gui');
var net = require('net');
var app;
var client = null;
var reconnectAttempts = 0;
var maxReconnectAttempts = 3;
var isFirstResponse = true;
var isCmdServerBusy = false;
var win = gui.Window.get();

function cmdMessage(msg,params) {
    this.msg = msg;
    this.params = params;
    this.reqMsg = "";
}
cmdMessage.prototype = {
    constructor: cmdMessage,
    formatControlMessage: function() {
        this.reqMsg = JSON.stringify({
            msg_name: this.msg,
            msg_params: this.params
        });
    }
}
function requestMsg(msg) {

    client = net.connect(9889, 'localhost');
    // Add a 'data' event handler for the client socket
    // data is what the server sent to this socket
    client.on('data', function(data) {

        //console.log(data);
        var retStr = bin2String(data);
        var obj = JSON.parse(retStr);
        console.log(obj);

        client.destroy();
        reconnectAttempts = 0;
        isCmdServerBusy = false;
        if(obj.msg_name=='response server status') {
            var serverStatus = obj.serverStatus;
            if(serverStatus.status_name=="isRunning"&&serverStatus.status_result=="OK") {

                var reqMsg = new cmdMessage('get profiles', null);
                reqMsg.formatControlMessage();
                requestMsg(reqMsg);



            }

        }

        if(obj.msg_name=='list profiles' && (obj.msg_err==""||obj.msg_err==null)) {
            //console.log(obj);
            var conn_profiles = obj.conn_profiles;
            if($('#new_comm_profile').val()!=undefined) {
                $('#new_comm_profile').replaceWith('<select id="comm_profile"></select>');
            }
            $('#comm_profile').empty();
            for(var i=0;i<conn_profiles.length;i++) {
                var conn_profile = conn_profiles[i];
                //console.log(conn_profile);
                if(conn_profile.profileId==1) {
                    $('#comm_profile').append('<option value="'+conn_profile.profileId+'">'+conn_profile.profileName+' (Default)</option>');
                } else {
                    $('#comm_profile').append('<option value="'+conn_profile.profileId+'">'+conn_profile.profileName+'</option>');
                }


            }
            //$('#comm_profile').append('<option value="0">New profile</option>');

            if(isFirstResponse) {
                initApp();
                isFirstResponse = false;
            }
            getProfile(1);


        } else {
            $('#db-error').text('Cannot list profiles from DB');
            $('#modalview-db-error').kendoMobileModalView('open');
        }

        if(obj.msg_name=='response profile' && (obj.msg_err==""||obj.msg_err==null)) {
            console.log(obj);
            var conn_profiles = obj.conn_profiles;

            var conn_profile = conn_profiles[0];
            //console.log(conn_profile);
            $('#comm_port').val(conn_profile.comm_port);
            $('#bit_rates').val(conn_profile.bit_rates);
            $('#databits').val(conn_profile.data_bits);
            $('#stop_bits').val(conn_profile.stop_bits);
            $('#parity').val(conn_profile.parity);
            $('#flowcontrol').val(conn_profile.flowcontrol);
            revealApp();
        } else {
            $('#db-error').text('Cannot get profile from DB');
            $('#modalview-db-error').kendoMobileModalView('open');
        }

        if(obj.msg_name=='response update profile' && (obj.msg_err==""||obj.msg_err==null)) {
            var reqMsg = new cmdMessage('get profiles', null);
            reqMsg.formatControlMessage();
            requestMsg(reqMsg);
        } else {
            $('#db-error').text('Cannot update profile : '+obj.msg_err);
            $('#modalview-db-error').kendoMobileModalView('open');
        }

        if(obj.msg_name=='response connect' && (obj.msg_err==""||obj.msg_err==null)) {
            initialize();
            app.navigate("tabstrip-tacmap","slide:right");
            
            $('#connected_profile').text($('#comm_profile option:selected').text());
            $('#connected_time').runner('start');
        } else {
            $('#db-error').text('Cannot update profile : '+obj.msg_err);
            $('#modalview-db-error').kendoMobileModalView('open');
        }
    });

    // Add a 'close' event handler for the client socket
    client.on('close', function() {
        console.log('Connection closed');
    });

    client.on('error', function(err) {
        console.log(err);
        if(reconnectAttempts<=maxReconnectAttempts) {
            reconnectAttempts++;
            setTimeout(requestMsg,200,msg);
        } else if(err.code=='ECONNREFUSED') {
            $('#modalview-connection-error').kendoMobileModalView('open');
        }

    });
    if(!isCmdServerBusy) {
        client.write(msg.reqMsg,'UTF-8');
        client.end();
        isCmdServerBusy = true;
    } else {
        setTimeout(requestMsg,200,msg);
    }



}

function initApp() {
    //getProfile(1);
    //$('#comm_profile').change(changeProfile());


    $('#connectBtn').click(function(){
        connectSerial();
    });

}

function initMainSettingForm() {
    var body = $("#main_setting_form");

    if (kendo.ui.DropDownList) {
        $("#comm_profile").kendoDropDownList({
            // The options are needed only for the desktop demo, remove them for mobile.
            popup: { appendTo: body },
            animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") || body.hasClass("km-wp") ? "slideIn:up" : "slideIn:down" } }
        });
    }



    $('#main-setting-save-button').click(function(){

        if($('#comm_profile').val()=="") {
            $('#form-error').text("Profile name cannot be blank");
            $('#modalview-form-error').kendoMobileModalView('open');
        } else {
            var params = '{"profileName":"'+$('#comm_profile').val()+'"'
                    +'}';

            var reqMsg = new cmdMessage('update profile', params);
            reqMsg.formatControlMessage();
            requestMsg(reqMsg);
        }


    });


}

function initAddProfileForm() {



    $('#addprofile-save-button').click(function(){

        if($('#new_profile_name').val()=="") {
            $('#form-error').text("Profile name cannot be blank");
            $('#modalview-form-error').kendoMobileModalView('open');
        } else {
            var params = '{"profileName":"'+$('#new_profile_name').val()+'"'
                    +'}';

            var reqMsg = new cmdMessage('add new profile', params);
            reqMsg.formatControlMessage();
            requestMsg(reqMsg);
        }


    });


}

function changeProfile() {

    console.log($('#comm_profile option:selected').val());
    if($('#comm_profile option:selected').val()!=0) {
        getProfile($('#comm_profile option:selected').val());
    } else {
        $('#comm_profile').replaceWith('<input type="text" name="new_comm_profile" id="new_comm_profile">');
        $('#setting-back-button').replaceWith('<a id="setting-cancel-button" class="nav-button" data-align="left" data-role="button">Cancel</a>');
        $('#setting-cancel-button').kendoMobileButton();
        $('#setting-cancel-button').click(function(){
            $('#setting-cancel-button').replaceWith('<a id="setting-back-button" class="nav-button" data-align="left" href="#welcomeView" data-role="button">Back</a>');
            $('#setting-back-button').kendoMobileButton();
            $('#new_comm_profile').replaceWith('<select id="comm_profile" onChange="changeProfile()"></select>');

            getProfiles();

        });
    }

}
function getProfile(id) {

    var reqMsg = new cmdMessage('get profile', '{"profileId":'+id+'}');
    reqMsg.formatControlMessage();
    requestMsg(reqMsg);
}
function getProfiles() {
    var reqMsg = new cmdMessage('get profiles', null);
    reqMsg.formatControlMessage();
    requestMsg(reqMsg);
}
function bin2String(array) {

    var result = "";
    var foundJSONstr = false;
    for (var i = 0; i < array.length; i++) {
        if(array[i]==123&&!foundJSONstr) {
            foundJSONstr = true;
        }
        if(foundJSONstr) {
            result += String.fromCharCode(array[i]);
        }

    }
    console.log(result);
    return result;
}
//function formatControlMessage(cmsg,params) {
//
//
//    return JSON.stringify({
//        msg_name: cmsg,
//        msg_params: params
//    });
//
//
//}


function revealApp() {
    $('div.k-loading-mask').remove();
}

function closeModalViewConnErrAndRetry() {
    $('#modalview-connection-error').kendoMobileModalView('close');
//    var reqStatus =formatControlMessage('request server status', null);
//    setTimeout(requestMsg,500,reqStatus);
    var reqMsg = new cmdMessage('request server status', null);
    reqMsg.formatControlMessage();
    requestMsg(reqMsg);
}

function closeModalViewConnErrAndExit() {
    $('#modalview-connection-error').kendoMobileModalView('close');
    gui.App.quit();
}

function closeModalViewDBErrAndRetry() {
    $('#modalview-db-error').kendoMobileModalView('close');
    setTimeout(requestMsg,500,reqMsg);
}

function closeModalViewDBErrAndExit() {
    $('#modalview-connection-error').kendoMobileModalView('close');
    //gui.App.quit();
}

function closeModalViewFormErr() {
    $('#modalview-form-error').kendoMobileModalView('close');
    //gui.App.quit();
}

function connectSerial() {
    var params = '{"comm_port":"'+$('#comm_port').val()
            +'","bit_rates":'+$('#bit_rates').val()
            +',"data_bits":'+$('#databits').val()
            +',"stop_bits":"'+$('#stopbits').val()
            +'","parity":"'+$('#parity').val()
            +'","flowcontrol":"'+$('#flowcontrol').val()
            +'"}';
    reqMsg =formatControlMessage('connect', params);
    setTimeout(requestMsg,1000,reqMsg);
}

//////////////////////////////////////////////////
// Google Earth setup
////////////////////////////////////////////////
     // Called when the plugin loads sucessfully.
    function drawEarth(earth_api) {
       var earth = earth_api;
       earth.getWindow().setVisibility(true);
    }

    // Called when the plugin cannot load.
    // Usually this means the plugin is not installed.
    function earthError() {
      alert('Earth plugin not available.');
    }

    // Called when the JavaScript API loads.
    // This doesn't necessarily mean the plugin will load, but
    // you can call google.earth.createInstance now.
    function loadSuccessful() {
      if($('#map3d').length) {  
        $('#map3d').remove();
      } 
      $('#map_holder').css('width',win.width-10);
      $('#map_holder').css('height',win.height-174);
      $('#map_holder').css('background-color','#000000');
      $('#map_holder').append('<div id="map3d"></div>');  
      $('#map3d').css('width',win.width-10);
      $('#map3d').css('height',win.height-174);
      google.earth.createInstance('map3d', drawEarth, earthError);
    }

    // Called when the JavaScript API doesn't load.
    function loadError() {
      alert('Unable to load Google Earth JavaScript API.');
    }

    // Trigger the loading of the Earth API.
    // When the API loads we call the success function which
    // should have access to the full Earth JS API.  The error
    // callback here is called when the JS Earth API never loads.
    function initialize() {
      var loaderOptions = {
        'other_params': 'sensor=false',
        'success': loadSuccessful,
        'error': loadError
      };
      loadEarthApi(loaderOptions);
    };
$(document).ready(function(){
    var reqMsg = new cmdMessage('request server status', null);
    reqMsg.formatControlMessage();
    setTimeout(requestMsg,1000,reqMsg);
    //console.log(process.mainModule.exports.dirname);
    app = new kendo.mobile.Application(document.body);
    if (kendo.ui.Slider) {
        $("#pwr_output").kendoSlider({ tooltip: { enabled: true } });
    }
    $('#connected_time').runner();
});

</script>
</body>
</html>