<html>
<head>
    <title>Sample</title>
    <link href="../lib/kendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="../lib/kendoUI/styles/kendo.flat.mobile.min.css" rel="stylesheet">
    <link href="../resources/styles/default.css" rel="stylesheet">
    <script src="../lib/kendoUI/js/jquery.min.js"></script>
    <script src="../lib/kendoUI/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script type="text/javascript" src="../js/earth_async.js"> </script>
    <script type="text/javascript">
        // Called when the plugin loads sucessfully.
    function drawEarth(earth_api) {
       var earth = earth_api;
       earth.getWindow().setVisibility(true);
    }

    // Called when the plugin cannot load.
    // Usually this means the plugin is not installed.
    function earthError() {
      alert('Earth plugin not available.');
    }

    // Called when the JavaScript API loads.
    // This doesn't necessarily mean the plugin will load, but
    // you can call google.earth.createInstance now.
    function loadSuccessful() {
      if($('#map3d').length) {  
        $('#map3d').remove();
      } 
      
      $('#map_holder').append('<div id="map3d" style="width: 100%;height: 100%;"></div>');  
      
      google.earth.createInstance('map3d', drawEarth, earthError);
    }

    // Called when the JavaScript API doesn't load.
    function loadError() {
      alert('Unable to load Google Earth JavaScript API.');
    }

    // Trigger the loading of the Earth API.
    // When the API loads we call the success function which
    // should have access to the full Earth JS API.  The error
    // callback here is called when the JS Earth API never loads.
    function initialize() {
      var loaderOptions = {
        'other_params': 'sensor=false',
        'success': loadSuccessful,
        'error': loadError
      };
      loadEarthApi(loaderOptions);
    };
        $(document).ready(function(){
        var app = new kendo.mobile.Application(document.body);
        //google.load("earth", "1", {"other_params":"sensor=true_or_false"});
        });
    </script>

</head>
<body>
    <div data-role="view" id="welcomeView"  data-stretch="true" data-persist="true" data-transition="overlay:down">

    <div id="welcomeContent">
        <div id="header">

            <p>DTI-TDL</p>
        </div>
        <div id="content" style="text-align: center;">
            <div id="map_holder" style="height: 400px; width: 600px; background-color: white;">
                
            </div>
            

            <a id="callearth-button" data-role="button" onclick="initialize();">Load Earth</a>
        </div>
        <div id="footer">
            
        </div>

    </div>


</div>


</body>
</html>