body {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    color:#fff;
    background-image: url("../images/patterns/greywashwall/grey_wash_wall/grey_wash_wall.png") !important;
    background-repeat: repeat;
    margin: 0; padding: 0; overflow: hidden;
}


h1 {
    padding-top: 5px;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#header {
    height: 110px;
    width: 100%;
    /*background: #232a32;*/
    /*font-family: "Helvetica83-ExtendedHeavy";*/
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.modal-header {
    font-family: "Arial Narrow";
    color: #459cd3 !important;
}
.modal-content {
    font-family: Helvetica;

}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    /*background: #232a32;*/
    width: 100%;
    display: block;
    align-content: center;
    text-align: center;

}

#welcomeContent {
    background-image: url('../images/patterns/greywashwall/grey_wash_wall/grey_wash_wall.png');
    background-repeat: repeat;
    text-align: center;
}

.boxbutton {
    display: inline-block;
    color: #FFFFFF !important;
    font-size: 14px;
    /*text-shadow: 1px 1px 0px #7CACDE;*/
    box-shadow: 2px 2px 2px #202633;
    padding: 20px 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*border: 1px solid #FFFFFF;*/
    background-color: rgba(255,255,255,0.5);
    height: 120px;
    width: 120px;
    text-align: center;
    text-decoration: none;

}



.boxbutton:active  {
    color: #ffffff !important;
    background: #459cd3;

}
.modal-button {
    font-family: "Arial Narrow";
}
.nav-button:active, .modal-button:active  {
    color: #ffffff !important;
    background: #459cd3;
    border-color: #ffffff;

}
.delete-button:active  {
    color: #ffffff !important;
    background: #ff0000;
    border-color: #ffffff;

}
#setting_list_form {
    margin: 0 !important;
}

.my-drawer {
    background-image: url("../images/sprite_2x.png");
    background-position: -260px -611px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 24px;
    height: 24px;
}
.my-info {
    background-image: url("../images/sprite_2x.png");
    background-position: -322px -482px;

    width: 28px;
    height: 28px;
}

.km-icon {
    font-size: 27px !important;
}
.km-mydrawer:after,
.km-mydrawer:before {
    content: '\e090';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

}

.km-myinfo:after,
.km-myinfo:before {
    content: '\e313';


}

.km-messages:after,
.km-messages:before {
    content: '\e093';


}

#left-drawer {
    background-image: url('../images/patterns/greywashwall/grey_wash_wall/grey_wash_wall.png');
    background-repeat: repeat;
}

.km-listview-label input[type=radio] {
    width: 1em;
    height: 1em;
    border-radius: 1em !important;
}

.km-list .k-slider {
    margin-top: -1em !important;
}

.km-widget .k-slider-horizontal .k-slider-selection {
    top: 0;
    height: 9px !important;
}

.km-root .k-slider-track {
    height: 23px !important;
}

.k-tooltip { display: block !important; }

.member-item {
    font-size: 1.2;
}
.member-item h3 {
    margin: 0;
    padding: 0;
    height: 1.3em;
    overflow: hidden;
}

.status-icon {
    width: 4em;
    height: 4em;
    float: left;
    margin: .5em 0;
    /*border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 4em;
    border-radius: 4em;*/
}
/*
#content ul {
    list-style: none;


}

#content ul li {
    display: inline;
    list-style: none;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    text-align:center;

}
*/

